:root{
    --lightblue:rgba(142,218,252,1);
    --graybar:rgba(234,234,234,1);
    --active:rgba(107,115,118,1);
    --icons: rgba(177,177,177,1);
    --lighticons:rgba(213,249,186,1);
    --white:#ffffff;



}
#app{
    height: 100vh;
    width:100%;
    background: linear-gradient(180deg, rgb(21, 124, 119) 15%, rgb(200, 200, 200) 15%);
}
#app > .container{
    height:90%;
}


.contact-bar{
 background-color: var(--graybar);
 height: 70px;
}
.notification{
    background-color: var(--lightblue);
    height: 80px;;

}
.icon{
    font-size:1.5em;
    margin-right: 0.5em;
    cursor: pointer;
}
.seachbar{
height: 50px;
background-color: var(--graybar);

}
.contacts-wrapper{
    height: calc(100% - 200px );
    overflow: hidden;
}
.contacts , .chat{
    height: 100%;
    overflow-y: auto;

}
.contacts{
    height: calc(100% - 200px);

    
}
.contact{
    padding:3px;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messagger-wrapper{
    height: calc(100% - 140px);
    background: url(../img/mine.jpg) repeat;
    overflow:hidden;
}
.message{
    position:relative;
    min-width: 40%;
    max-width: 60%;
    font-size: 15px;
    margin:5px 0px;
    padding: 15px 15px 20px;
    background:rgb(255,255,255);
    border-radius:10px;
}
.chat{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

}
.chat p{
    margin-bottom:0;
}
.chat .sent{
    align-self: flex-end !important;
    background-color: var(--lighticons);
    border-radius: 10px;
    padding:8px;
    margin: 3px 3px;
    
}
.chat .received{
    background-color: var(--graybar);
    border-radius: 10px;
    padding:8px;
    margin: 3px 3px;
}

.bells{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);
    color: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
  
}
.bell{
    margin-right: 0px !important;
}
.btn-search {
    background-color: var(--graybar);
    color: var(--icons);
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    margin-right: 2px;
}
.search-div input {
    width: 100%;
    color: var(--graybar);
    font-size: 13px;
    padding: 5px 15px;
    border: none;
}
.contact{
    border: 0.2px solid var(--active);
    height: 70px;
    width: 100%;
    display: flex;
    cursor: pointer;
   
}
.contact:hover{
    background-color: var(--graybar);

}
.contact-active{
    background-color: var(--graybar);
}
.testo-messaggio{
    overflow: hidden;
    height: 60px;
    width: 80%;
     margin-left:5px; 
}

.contact-bar-bottom{
    background-color: var(--graybar);
    height: 70px;
    
    
   
}
#invio{
    color:cornflowerblue;
    cursor: pointer;
}
#mic{
    color:cornflowerblue;
    cursor: pointer;
}
#smile{
    background-color: yellow;
   cursor: pointer;
   color:rgb(212, 209, 209)
  
    
}

.border-lightgrey{
    border: 0.5px solid var(--graybar);
}

.icons-chat{
    position:absolute;
    right:0;
    top:10;
}
.contact-bar  .icon {
color: var(--icons);
}


